.popular-searches-footer-section{
  background-color: #fff;
  margin-left: 180px;
  padding-top: 10px;

}

.popular-searches-text-container{
  display: block;
  font-size: 25px;
  color: rgb(190, 51, 0);

}

.searches-itself-container-div-first-row{
  display: flex;
  flex-direction: row;

}

.searches-itself-container-div-first-row div a{
  text-decoration: none;
  color: rgb(199, 199, 199);

}

.searches-itself-container-div-first-row div{
  border: solid 1px rgb(184, 184, 184);
  padding: 5px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 17px;

}

.searches-itself-container-div-first-row div:hover  {
  border-color: lightblue;
}

.searches-itself-container-div-first-row{
  margin-top: 10px;

}

.searches-itself-container-div-second-row{
  display: flex;
  flex-direction: row;

}

.searches-itself-container-div-second-row div a{
  text-decoration: none;
  color: rgb(199, 199, 199);

}

.searches-itself-container-div-second-row div{
  border: solid 1px rgb(184, 184, 184);
  padding: 5px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 17px;

}

.searches-itself-container-div-second-row div:hover {
  border-color: lightblue;
}

.searches-itself-container-div-second-row{
  margin-top: 10px;

}

/* footer*/

.footer-section{
  padding-right: 50px;
  border-top: 2px solid rgb(226, 226, 226);
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-top: 10px;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 8px;

}

.footer-header-part{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  justify-content: space-between;
  
}

.footer-header-left-section{
  display: flex;
  flex-direction: row;

}

.footer-header-right-section{
  display: flex;
  flex-direction: row;

}

.footer-header-email-container{
  display: flex;
  flex-direction: row;

}

.footer-header-telephone-container{
  display: flex;
  flex-direction: row;

}

.footer-left-part-help-text{
  margin-right: 30px;
  font-size: 16px;

}

.footer-header-left-section div:hover{
  color: orangered;
  cursor: pointer;

}

.footer-header-right-section div{
  color: gray;

}

.footer-header-right-section div:hover{
  color: orangered;

}

.footer-header-email-container:hover .footer-email-svg-container,
.footer-header-email-container:hover  .footer-email-text-container{
  color: orangered;
  cursor: pointer;

}

.footer-header-telephone-container:hover .footer-telephone-svg-container,
.footer-header-telephone-container:hover .footer-telephone-text{
  color: orangered;
  cursor: pointer;

}

.footer-facebook-page-svg-container,
.footer-instagram-page-svg-container{
  margin-right: 18px;
  font-size: 24px;

}

.footer-header-email-container{
  align-items: center;
  margin-right: 10px;
  
}

.footer-email-svg-container{
  font-size: 20px;

}

.footer-email-text-container{
  font-size: 16px;

}

.footer-header-telephone-container{
  align-items: center;

}

.footer-telephone-svg-container{
  font-size: 20px;

}

.footer-telephone-text{
  font-size: 16px;

}

/*Footer cityname part*/

.footer-citynames{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  column-gap: 100px;
  margin-top: 20px;
  padding-bottom: 20px;

}

.footer-citynames div div{
  margin-bottom: 5px;

}

.footer-citynames div div a{
  text-decoration: none;
  color: rgb(167, 167, 167);

}

.footer-citynames div div a:hover{
  color: orangered;

}


.footer-of-footer-header-section{
  margin-left: 130px; 
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;

}

.footer-of-footer-header-section div a{
  text-decoration: none;
  color: black;
  font-size: 15px;

}

.footer-of-footer-header-section div a:hover{
  color: orangered;

}

.bottom-part-of-footer{
  background-color: orangered;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  
}

.bottom-part-of-footer div{
  color: #fff;
  font-size: 15px;

}

.big-text{
  width: 400px;
  margin-left: 40px;
  font-size: 15px;

}

.mobile-version-container a{
  color: #fff;
  text-decoration: none;

}

.mobile-version-container a:hover{
  text-decoration: underline;
  
}

.voen-text{
  margin-left: 50px;

}

.mobile-version-container{
  margin-left: 180px;

}