* {
  font-family: Arial;
  margin: 0;
  padding: 0;

}

.nav-section {
  display: flex;
  flex-direction: row;
  padding-left: 180px;
  padding-top: 30px;
  background-color: whitesmoke;

}



.transport-nav-image-itself {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.transport-nav-container:hover .transport-nav-image-itself {
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.transport-nav-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  margin-top: 5px;
}

.transport-nav-container:hover {
  color: orangered;
  transition: 0.25s;

}

.electronics-nav-image {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.electronics-nav-container {
  margin-left: 40px;

}

.electronics-nav-container:hover .electronics-nav-image {
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.electronics-nav-container:hover {
  color: orangered;
  transition: 0.25s;

}

.home-and-garden-gadgets-nav-container {
  margin-left: 40px;

}

.home-and-garden-gadgets-nav-container:hover .home-and-garden-gadgets-image {
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.home-and-garden-gadgets-nav-container:hover {
  color: orangered;
  transition: 0.25s;

}

.electronics-nav-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  margin-top: 5px;
}

.home-and-garden-gadgets-image {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;
}

.home-and-garden-gadgets-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.flats-and-houses-nav-container {
  margin-left: 40px;

}

.flats-and-houses-nav-container:hover .flats-and-houses-nav-image {
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.flats-and-houses-nav-container:hover {
  color: orangered;
  transition: 0.25s;
}

.flats-and-houses-nav-image {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.flats-and-houses-nav-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.business-and-serving-nav-container {
  margin-left: 40px;

}

.business-and-serving-nav-container:hover .business-and-serving-image {
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.business-and-serving-nav-container:hover {
  color: orangered;
  transition: 0.25s;

}

.business-and-serving-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.business-and-serving-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.hobbies-and-others-nav-container{
  margin-left: 40px;

}

.hobbies-and-others-nav-container:hover .hobbies-and-others-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.hobbies-and-others-nav-container:hover{
  color: orangered;
  transition: 0.25s;

}

.hobbies-and-others-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.hobbies-and-others-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.baby-world-nav-container{
  margin-left: 40px;

}

.baby-world-nav-container:hover .baby-world-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.baby-world-nav-container:hover{
  color: orangered;
  transition: 0.25s;

}

.baby-world-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.baby-world-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: -3px;
  margin-top: 5px;

}

.nav-section-second-row{
  display: flex;
  flex-direction: row;
  padding-left: 180px;
  padding-top: 10px;
  background-color: whitesmoke;
}

.animals-nav-container:hover .animals-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;

}

.animals-nav-container:hover{
  color: orangered;
  transition: 0.25s;

}

.animals-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;

}

.animals-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: -3px;
  margin-top: 5px;

}

.work-announcements-nav-container:hover .work-announcements-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;
}

.work-announcements-nav-container:hover{
  color: orangered;
  transition: 0.25s;
}

.work-announcements-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;
}

.work-announcements-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: -3px;
  margin-top: 5px;

}

.work-announcements-nav-container{
  margin-left: 40px;
}

.catalouge-nav-container{
  margin-left: 40px;
}

.catalouge-nav-container:hover .catalouge-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;
}

.catalouge-nav-container:hover {
  color: orangered;
  transition: 0.25s;
}

.catalouge-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;
}

.catalouge-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: -3px;
  margin-top: 5px;
}

.shops-nav-container{
  margin-left: 40px;
}

.shops-nav-container:hover .shops-nav-image{
  border-color: orangered;
  border-width: 1.5px;
  border-style: solid;
  transition: 0.15s;
}

.shops-nav-container:hover{
  color: orangered;
  transition: 0.25s;
}

.shops-nav-image{
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 19px;
  object-fit: cover;
  position: relative;
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;
}

.shops-nav-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-left: -3px;
  margin-top: 5px;
}

.birbank-announcement-container{
  padding-left: 180px;
  background-color: whitesmoke;
  padding-top: 30px;

}

.birbank-announcement-image{
  width: 960px;
}