.header-of-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 150px;

}

.header-left-section{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size : 17px;
}

.header-left-section a {
  text-decoration: none;
  color: rgb(173, 173, 173);

}

.header-left-section a:hover{
  color: orange;
  transition: 0.15s;

}

.header-right-section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size : 17px;

}

.header-right-section a {
  text-decoration: none;
  color: rgb(173, 173, 173);

}

.header-right-section a:hover{
  color: orange;
  transition: 0.15s;

}

.number-container-div:hover a{
  color: orange;
}

.nuber-svg-container{
  margin-right: 5px;

}

.message-container{
  display: flex;
  flex-direction: row;

}

.message-container:hover a{
  color: orange;

}

.choosen-container{
  display: flex;
  flex-direction: row;
}

.choosen-container:hover a{
  color:orange;
}

.login-container{
  display: flex;
  flex-direction: row;

}

.login-container:hover a{
  color: orange;

}

.message-svg-container{
  margin-right: 5px;

}

.choosen-svg-container{
  margin-right: 5px;

}

.login-svg-container{
  margin-right: 5px;

}

.main-header-section{
  background-color: rgb(255, 72, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.tap-az-logo-container{
  margin-left: 100px;

}

.tap-az-logo-image{
  width: 100px;
  object-fit: fill;
  object-position: middle;
  
}

.catalouge-button{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  background-color:  rgb(255, 72, 0);
  border: none;
  color: #fff;

}