.header-of-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 150px;
  height: 30px;
  align-items: center;
}

.header-left-section{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size : 17px;
}

.header-left-section a {
  text-decoration: none;
  color: rgb(173, 173, 173);

}

.header-left-section a:hover{
  color: orange;
  transition: 0.15s;

}

.header-right-section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size : 17px;

}

.header-right-section a {
  text-decoration: none;
  color: rgb(173, 173, 173);

}

.header-right-section a:hover{
  color: orange;
  transition: 0.15s;

}

.number-container-div:hover a{
  color: orange;
}

.nuber-svg-container{
  margin-right: 5px;

}

.message-container{
  display: flex;
  flex-direction: row;

}

.message-container:hover a{
  color: orange;

}

.choosen-container{
  display: flex;
  flex-direction: row;
}

.choosen-container:hover a{
  color:orange;
}

.login-container{
  display: flex;
  flex-direction: row;

}

.login-container:hover a{
  color: orange;

}

.message-svg-container{
  margin-right: 5px;

}

.choosen-svg-container{
  margin-right: 5px;

}

.login-svg-container{
  margin-right: 5px;

}

.main-header-section{
  background-color: rgb(255, 72, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;

}

.tap-az-logo-container{
  margin-left: 100px;

}

.tap-az-logo-image{
  width: 100px;
  object-fit: fill;
  object-position: middle;
  
}

.catalouge-dropdown-container{
  margin-left: 20px;
  margin-right: 20px;

}

.catalouge-button-icon{
  margin-right: 5px;
  font-size: 20px;

}

.catalouge-button-link{
  text-decoration: none;

}

.catalouge-button{
  display: flex;
  flex-direction: row;
  width: 70px;
  align-items: center;
  background-color:  rgb(255, 72, 0);
  border: none;
  color: #fff;
  font-size: 18px;
  
}

.catalouge-button{
  cursor: pointer;

}

.input-searchbox-container{
  margin-left: 20px;
  position: relative;

}

.location-dropdown-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: -2px;
  right: 80px;
  color: grey;

}

.input-element{
  width: 500px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 7px;

}

.search-button-container{
  position: absolute;
  right: 0;
  top: -8px;

}

.search-button-container button{
  display: flex;
  flex-direction: row;
  width: 70px;
}